@font-face {
    font-family: 'raleway';
    src: url('./fonts/raleway-thin-webfont.woff2') format('woff2');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'freeman';
    src: url('./fonts/freeman-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* --body-background: linear-gradient(90deg, #f0f6ff, #fffff6); */
    --body-background-color: #edf2f4;
    --info-background-color: white;

    --highlight-border: #38b000;
    --highlight-background: #38b00032;
    --highlight-border2: #0077b6;
    --highlight-background2: #0076b624;

    --x-color: #38b000;
    --o-color: #0077b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'freeman';
    /* background-image:var(--body-background); */
    background-color: var(--body-background-color);
}

h1 {
    text-align: center;
    padding: 1rem 0;
    font-size: 3.5rem;
    letter-spacing: .15em;
}

.game-container {
    border: 1px solid;
    padding: 50px 0;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem; */
}

button {
    font-family: 'freeman';
}

/* * * * * * * * * * *
* * Player Info Boards
* * * * * * * * * * */
.player-info {
    display: flex;
    font-size: 1.1rem;
    /* border: 1px solid; */
}

.player-info.top {
    margin: 0 auto;
    gap: 40px;
    width: clamp(300px, 40%, 500px);
}

.player-info.side {
    display: inline-block;
}

.info {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--info-background-color);
    transition: background-color 350ms, box-shadow 350ms;
}

.info:last-child {
    text-align: end;
}

.info.highlight {
    background-color: var(--highlight-background);
    box-shadow: 0px 0px 10px var(--highlight-border), inset 0px 0px 10px var(--highlight-border);
}

.info.highlight2 {
    background-color: var(--highlight-background2);
    box-shadow: 0px 0px 10px var(--highlight-border2), inset 0px 0px 10px var(--highlight-border2);
}

.score {
    margin-top: 20px;
}

.score span {
    margin-left: 15px;
    color: rgb(226, 51, 51);
}

/* * * * * * * * * * *
* * Game Board
* * * * * * * * * * */

.board {
    margin: 50px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: clamp(5px, .5svw, 10px);
    width: clamp(300px, 40%, 500px);
    aspect-ratio: 1 / 1; /* Keeps height same as width */
}

/* Cell button container for dynamic font size based on container width */
.board span {
    container-type: size;
}

.grid-cell {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 50cqw; /* Font size based on container width */ 
    font-family: 'raleway';
    font-weight: thin;
}

.grid-cell:hover {
    box-shadow: 0px 0px 10px var(--highlight-border), inset 0px 0px 10px var(--highlight-border);
    transform: scale(1.05);
    transition: transform 350ms;
}

.grid-cell.color-x {
    color: var(--x-color);
}

.grid-cell.color-o {
    color: var(--o-color);
}



/* * * * * * * * * * *
* * Modals
* * * * * * * * * * */

dialog {
    align-self: center;
    margin: 0 auto;
    padding: 2rem;
    font-size: 2rem;
}

.game-modal {
    background-color: rgba(255, 0, 0, 0.455);
}

/* * * * * * * * * * *
* * Reset Button
* * * * * * * * * * */
.board-reset {
    display: block;
    width: clamp(300px, 40%, 500px);;
    margin: 0 auto;
    background: none;
    border: 1px solid;
    border-radius: 5px;
}

/* * {
    border: 1px solid red;
} */


/* * * * * * * * * * *
* * Media Queries
* * * * * * * * * * */
/* @container (max-width: 26px) {
    .grid-cell {
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 5px;
    }
} */